@import "../utils/mixins";
@import "../utils/variables";

.add-todo-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
  #description {
    resize: none;
    overflow-y: scroll;
  }

  #description,
  #title {
    padding: 12px;
    border-radius: 4px;
    outline: none;
  }
}
