@import "../utils/mixins";
@import "../utils/variables";

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px;
  border: 1px solid blue;
  padding: 8px;
  cursor: grab;
  .typography {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .todo-description {
      border: none;
      height: 50px;
      max-width: 260px;
      overflow-y: auto;
      padding: 8px;
    }
  }
  .buttons {
    @include flexCenter(row);
    gap: 12px;
    * {
      cursor: pointer;
    }
  }
}
