@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.wrapper {
  min-height: 100dvh;
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 8px;
}

.add-todo-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}
.add-todo-form #description {
  resize: none;
  overflow-y: scroll;
}
.add-todo-form #description,
.add-todo-form #title {
  padding: 12px;
  border-radius: 4px;
  outline: none;
}

.todo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 12px;
  border: 1px solid blue;
  padding: 8px;
  cursor: grab;
}
.todo .todo-header {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}
.todo .todo-header .todo-title {
  cursor: pointer;
  margin-left: 8px;
}
.todo .todo-header .title-input {
  font-size: 24px;
  font-weight: 600;
  padding-left: 8px;
  border: none;
  outline: none;
}
.todo .todo-description {
  border: none;
  height: 50px;
  overflow-y: auto;
  padding: 8px;
}
.todo .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}
.todo .buttons * {
  cursor: pointer;
}
.todo .add-todo-button {
  align-self: flex-end;
}

.todos-container {
  border: 1px solid black;
  height: 400px;
  overflow: auto;
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
}